body {
  height: 100%;
}

.category {
  height: fit-content;
}

.category-button {
  background-color: #CAD1C5;
  border: none;
  border-radius: .6em .6em;
  box-shadow: 3px 4px 5px lightgrey;
  margin: 2em;
}

.button-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-left: 20em;
}