body {
  height: 100%;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 22em;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 5%;
  padding: 0 1% 0 1%;
  box-shadow: 6px 8px 10px lightgrey;
  width: 455px;
  background-color: whitesmoke;
  margin: 3%;
}

.delete-button {
  height: fit-content;
  width: fit-content;
  box-shadow: none;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 125em) {
  .game-container {
    margin-left: 30em;
  }
}


@media screen and (max-width: 280px){
  .game-container {
    margin-left: 0em;
    width: 100vw;
    padding-bottom: 5%;
  }
  
  .game-card {
    min-width: 80%;
  }

  .delete-button {
    width: 80%;
  }
}