.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 5%;
  padding: 0 1% 0 1%;
  box-shadow: 6px 8px 10px lightgrey;
  width: 455px;
  background-color: whitesmoke;
  margin: 3%;
}

.like-button {
  height: 3em;
  box-shadow: none;
  margin: 2%;
  border-radius: .6em .6em;
}